@model ProyectoArquitectura.Models.NutrienteMaximo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NutrienteMaximo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ValorMaximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorMaximo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nutriente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nutriente.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMaximo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
