@model IEnumerable<ProyectoArquitectura.Models.NutrienteMaximo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ValorMaximo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nutriente.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ValorMaximo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nutriente.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdMaximo }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdMaximo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdMaximo })
        </td>
    </tr>
}

</table>
