@model ProyectoArquitectura.Models.NutrienteMinimo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NutrienteMinimo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ValorMinimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorMinimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nutriente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nutriente.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMinimo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
