@model ProyectoArquitectura.Models.DeficitNutricional

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeficitNutricional</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NutrienteMinimo.IdMinimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NutrienteMinimo.IdMinimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patologia.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patologia.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDeficit }) |
    @Html.ActionLink("Back to List", "Index")
</p>
