@model IEnumerable<ProyectoArquitectura.Models.DeficitNutricional>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NutrienteMinimo.IdMinimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patologia.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NutrienteMinimo.IdMinimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patologia.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDeficit }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDeficit }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDeficit })
        </td>
    </tr>
}

</table>
